body{
    background-color:black;
    color:white;
    font-family: 'roboto', sans-serif;
    width:100%;
    background: linear-gradient(to top , rgb(23, 22, 22) 50%,rgb(200, 139, 139));
    padding:0;
    margin:0;

   
}
header h2{
    text-align: center;
}
header{

    width:100%;
  
    margin:0;
    padding:0;
}
.header{
   
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-weight:bold;
    clear:both;
}
.arijit{
    width:220px;
    height:220px;
    background-image:url('../images/arijit.webp');
    background-size:cover;
    background-position: center;
    border-radius:2px;
    box-shadow:-4px 4px 10px #000000, 4px -4px 10px black;
    margin:0px auto;
    display:flex;
  justify-content: center;
  align-items: flex-end;
  

}
a img{
    display:block;
    float:left;
    margin:10px;
    width:30px;
}
.span{
    background-color: aqua;
    color:black;
    margin:2px;
    width:50%;
    font-weight: bolder;
}
.collab{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
}
.collab img{
     width:35px;
     height:35px;
     border-radius:50%;
     position:relative;
     
    
}
.one{
    position:relative;
    left:10px;
    z-index:3;
}
.two{
    z-index:2;
}
.three{
    position:relative;
    right:10px;
    
}
p{
    font-size:small;
}
.icons{
    display:flex;
    flex-direction: row;
    align-items: center;
    

}
.icons img{
    width:30px;
    height:30px;
    margin:5px;

    
}
.first{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    gap:15px;
    margin:10px
}
.second{
    display:flex;
    flex-direction: row;
    
}
.play{
    background-color:green;
    border-radius:50%;
}
section.one{
    line-height: 10px;
}
section.two img{
    width:50px;
    height:50px;
    border-radius:50%;
    vertical-align: middle;
    margin:5px;
}
section.two{
    display:grid;
    grid-template-rows: repeat(4,1fr);
}
section.two p{
    background:linear-gradient(to right, rgb(40, 36, 36), rgb(39, 36, 36));
    margin:3px;
    letter-spacing:0.2px;

}
footer{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    width:100%;
    height:50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:sticky;
    z-index:5;
    bottom:0px;
    background-color: rgb(20, 18, 18);

}
div.artist img{
    width:150px;
    height:150px;
    vertical-align: middle;
    padding-bottom: 5px;
    border-radius: 50%;
    margin:20px;
    box-shadow:3px 3px 4px white, -3px -3px 4px black
}
div.artist{
    display:flex;
    flex-direction: row;
   justify-content: space-around;
   
    gap:10px;
    text-align: center;
    overflow:auto;
    scrollbar-width: none;

}
footer div:hover{
    transform:scale(1.1);
    transition:transform 1s ease
}
footer a{
    text-decoration: none;
    color:white;
}